.principal {
    text-align: center;
    width: 50%;
    float: left;
}

.paragrafo_principal{
    text-align: justify;
    margin: 1em 6em;
}

.principal2{
    text-align: center;
    width: 50%;
    float: left;
}

.principal_subtitulo{
    margin: 2em 0;
}

ul{
    text-align: justify;
    margin: 5em 20%;
    
}

li {
    list-style-type: none;

}

.sites_link{
    text-align: center;
}

a { text-decoration: none;}
